apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: petcare
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/rezakaramad/petcare.git
    targetRevision: main
    path: charts/petcare
  destination:
    server: https://kubernetes.default.svc
    namespace: petcare
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
