apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: petcare
  namespace: argocd
spec:
  goTemplate: true

  generators:
    - list:
        elements:
          - appName: petcare
            namespace: petcare
            targetRevision: main

    - pullRequest:
        github:
          owner: rezakaramad
          repo: petcare
          appSecretName: github-app
        requeueAfterSeconds: 120

  template:
    metadata:
      name: '{{ if .number }}petcare-pr-{{ .number }}{{ else }}{{ .appName }}{{ end }}'
    spec:
      project: default
      source:
        repoURL: https://github.com/rezakaramad/petcare.git
        targetRevision: '{{ if .number }}{{ .head_sha }}{{ else }}{{ .targetRevision }}{{ end }}'
        path: charts/petcare
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{ if .number }}petcare-pr-{{ .number }}{{ else }}{{ .namespace }}{{ end }}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
